:root {
    --primaryGradient: #33ccff;
    --secondaryGradient: #ff99cc;
    --calcyBackground: #d5dfe5;
    --historyColor: #919191;
    --divideOperator: #20b2aa;
    --multiplyOperator: #ffa500;
    --substractOperator: #f08080;
    --addOperator: #7d93e0;
    --equalOperator: #9477af;
    --tooltipBackground: #dddddd;
    --tooltipColor: #636363;
}


body {
    font-family: "Open Sans", sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
}

#container {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, var(--primaryGradient) 0%, var(--secondaryGradient) 100%);
    /* margin: 20px auto; */
}

#calculator {
    width: 320px;
    height: 520px;
    background-color: var(--calcyBackground);
    margin: 0 auto;
    position: relative;
    top: 100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#result {
    height: 120px;
}

#history {
    text-align: right;
    height: 20px;
    margin: 0 20px;
    padding-top: 20px;
    font-size: 15px;
    color: var(--historyColor);
}

#output {
    text-align: right;
    height: 60px;
    margin: 10px 20px;
    font-size: 30px;
}

#output-text {
    width: 250px;
    height: 120px;
    float: left;
}

#microphone {
    height: 30px;
    width: 30px;
    float: right;
    background-image: url(mic.png);
    background-size: 100% 100%;
    border-radius: 50%;
    margin: 20px;
    margin-top: 45px;
}

.record {
    animation: microphone-animation 1.5s infinite
}

@keyframes microphone-animation {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(0, 148, 255, 0.4);
    }
    70% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(0, 148, 255, 0);
    }
}

.tooltip {
    width: 200px;
    font-size: 9px;
    position: absolute;
    background-color: var(--tooltipBackground);
    color: var(--tooltipColor);
    padding: 10px;
    top: 45px;
    transform: translateX(50px);
    border-radius: 5px;
    visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.tooltip::before {
    content: '';
    position: absolute;
    border-width: 5px;
    border-style: solid;
    border-color: transparent var(--tooltipBackground) transparent transparent;
    left: 0;
    margin-left: -10px;
}

#output-microphone:hover .tooltip {
    visibility: visible;
}

#keyboard {
    height: 400px;
}

.operator, .number, .empty {
    width: 50px;
    height: 50px;
    margin: 15px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-weight: bold;
    font-size: 15px;
    /* background-color: var(--historyColor); */
}

.number, .empty {
    background-color: var(--calcyBackground);
}

.operator, .number {
    cursor: pointer;
}

.operator:active, .number:active {
    font-size: 13px;
}

.operator:focus, .number:focus, .empty:focus {
    outline: 0;
}

button:nth-child(4) {
    font-size: 20px;
    background-color: var(--divideOperator);
}
button:nth-child(8) {
    font-size: 20px;
    background-color: var(--multiplyOperator);
}
button:nth-child(12) {
    font-size: 20px;
    background-color: var(--substractOperator);
}
button:nth-child(16) {
    font-size: 20px;
    background-color: var(--addOperator);
}
button:nth-child(20) {
    font-size: 20px;
    background-color: var(--equalOperator);
}